@import "normalize.css";

.rooms-cards {
  --rooms-cards-black: #000;
  --rooms-cards-white: #fff;
  --star-icon-fill: #e50c2c;
  --rooms-cards-grey: #808080;
  --rooms-cards-dark-grey: #4f4f4f;
  --rooms-cards-border: 1px solid rgba(224, 224, 224, 1);
  --rooms-cards-border-alpha: 1px solid rgba(224, 224, 224, 0.5);
}
.content {
  background-color: #fff !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10vh 0;
}
.rooms-cards {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: var(--rooms-cards-black);
  padding: 0 15px;
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.room-card {
  width: 100%;
  position: relative;
  padding: 146px 24px 20px 24px;
  background: linear-gradient(10.15deg, #ececec 22.47%, #efefef 78.8%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__logo {
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__top-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 122px;
    z-index: 0;
  }
  &__content {
    &-top {
      &_wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &_row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 12px 0;
        border-bottom: var(--rooms-cards-border-alpha);
      }
    }
  }
}
.room-card__background {
  position: absolute;
  overflow: hidden;
  border-radius: 10px;
  top: 0;
  width: 100%;
  height: 122px;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: bottom center;
  background-size: cover;
  background-image: url(/images/room_bg_bright.svg);
}
.pokerdom-card .room-card__background {
  background-image: url(/images/room_bg_blue.svg);
}
@media screen and (min-width: 640px) {
  .room-card {
    max-width: 320px;
  }
}
.room-card__content-top_row-left {
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: var(--rooms-cards-grey);
}
.room-card__content-top_row-right {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  gap: 4px;
}
.room-card__content-mid_wrapper {
  width: 100%;
}
.room-card__content-mid-item {
  border-bottom: var(--rooms-cards-border-alpha);
  padding: 14px 0;
}
.room-card__content-mid_title {
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: var(--rooms-cards-grey);
  padding-bottom: 7px;
}
.room-card__content-mid_text {
  display: flex;
  flex-direction: column;
  gap: 7px;
  &_item {
    line-height: 18px;
  }
}
.redstar-card .room-card__button {
  margin-top: 40px;
  margin-bottom: 13px;
}
.room-card__content-bot_link {
  display: flex;
  align-items: center;
  gap: 6px;
}
.room-card__content-bot_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.room-card__button {
  color: var(--rooms-cards-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  width: 100%;
  border-radius: 3px;
  background-color: var(--rooms-cards-dark-grey);
  padding: 9px 0;
  margin-top: 9px;
}
._888-card .room-card__logo {
  top: 30px;
}
.room-card__content-bot_title {
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: var(--rooms-cards-grey);
  text-align: left;
  margin-top: 17px;
  width: 100%;
}
.room-card__copy-area {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--rooms-cards-white);
  border-radius: 3px;
  outline: var(--rooms-cards-border);
  padding: 11px 13px 10px;
  margin-top: 6px;
}
.room-card__copy-left {
  font-weight: 700;
  font-size: 18px;
  line-height: 17px;
  letter-spacing: 0.1em;
}
.room-card__copy-right {
  display: flex;
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  gap: 4%;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 3%;
  color: var(--rooms-cards-dark-grey);
}
.room-card.pokerdom-card {
  background: linear-gradient(209.14deg, #ffecde 7.32%, #ffdca8 94.85%);
}
.pokerdom-card .room-card__logo {
  top: 23px;
}
.pokerdom-card {
  --rooms-cards-grey: rgb(201, 128, 19);
  --rooms-cards-dark-grey: rgb(229, 12, 44);
  --rooms-cards-border: 1px solid rgba(254, 214, 165, 1);
  --rooms-cards-border-alpha: 1px solid rgba(252, 210, 151, 0.35);
}
.pokerdom-card .room-card__copy-area {
  background-color: #fef6eb;
}
.pokerdom-card::after {
  content: "";
  position: absolute;
  width: 57px;
  height: 82px;
  background-image: url(/images/pokerdom_tag.svg);
  background-repeat: no-repeat;
  top: -19px;
  right: -4px;
}
